.root {
  @keyframes slideshow {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-400%);
    }
  }

  white-space: nowrap;
  animation: slideshow 60s linear infinite;
}

.company__logo {
  display: inline-block;
  height: 80px;
  margin: 70px 50px;
}
