.root {
  padding: 5rem;
  width: 100%;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.responsive__calendar {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
