.root {
  height: 25vh;
  background-color: #4f4846;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: white;
    font-weight: 300;
    font-size: 12px;
  }
}

.footer__logo {
  display: flex;
}

#footer__crest {
  height: 40px;
}

#footer__main {
  font-size: 25px;
  margin-left: 1rem;
  font-weight: 500;
  color: white;
}

#sjsu__text {
  font-weight: 300;
}

.footer__icon__container {
  width: 70px;
  display: flex;
  justify-content: space-around;
}

.footer__icon {
  font-size: 25px;
  color: white;

  &:hover {
    color: gray;
  }
}
