@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.navbar-brand, h1, h2 {
    font-family: 'Cinzel', serif !important;
}

body {
    font-family: 'PT Serif', serif;
}

.vertical-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #696969 !important;
  }