.root {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  background-color: #883a3a;
  color: #ffffff;
  padding: 50px;
}

.body {
  height: 100%;
  width: 100%;
  background-color: #ededed;
  border-radius: 5px;
}

.task__bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid lightgray;
  background-color: #ffffff;
  border-radius: 5px;
}

.task__bar__title {
  text-align: center;
  margin: 30px 0 30px 0;
  font-weight: 300;
}

.task__bar > div {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;

  &:first-of-type {
    border-top: 1px solid lightgray;
  }
}

.task__bar__item {
  border-bottom: none;
  color: #404040;

  &:hover {
    text-decoration: none;
  }
}

.calendar__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.profile__container {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__content {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid lightgray;
  border-radius: 5px;

  h1 {
    font-weight: 300;
    margin: 25px 0;
  }
}

.profile__picture {
  display: flex;
  justify-content: center;
}

.profile__picture img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -100px;
}

.profile__item {
  margin-bottom: 5px;

  h6 {
    display: inline;
    margin-right: 5px;
  }

  span {
    color: #555;
  }
}
