.root {
  background-color: #d9dcdf;
  min-height: 90vh;
  height: fit-content;
  padding: 3rem 5rem;
}

.heading__icon {
  margin: 0 1rem;
}

.dashboard__container {
  border-radius: 10px;
  background-color: white;
  display: flex;
}
