.about__block,
.pillars__block {
  height: fit-content;
  min-height: 50vh;
  display: flex;
  align-items: center;
}

.pillars__block {
  background-color: #d9dcdf;
  min-height: 70vh;
}

@media (max-width: 750px) {
  .about__block,
  .pillars__block {
    padding: 5rem 0;
  }
  .pillars__col {
    margin-bottom: 4rem;
  }
}

.about__row,
.pillars__row {
  display: flex;
  justify-content: space-between;
}

.pillars__col h2 {
  color: #6d2e2e;
}

.about__block h1,
.pillars__block h1,
.joining__block h1 {
  font-size: 2rem;
}

.pillars__block h1 {
  margin-bottom: 2rem;
  color: #6d2e2e;
}

.about__block p,
.pillars__block p {
  font-size: 1rem;
  font-weight: 300;
}

.about__picture img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
}

.pillar__picture img {
  height: 7rem;
  margin-bottom: 1rem;
}

.joining__block {
  height: 50vh;
  width: 100%;
  position: relative;
}

.joining__cover__picture {
  height: 100%;
  width: 100%;
}

.joining__cover__picture img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.joining__overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.5;
}

.joining__text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;

  h1,
  p {
    color: #ffffff;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  p {
    font-size: 1.25rem;
    font-weight: 500;
  }
}
