.root {
  height: fit-content;
  width: 100%;
}

.banner {
  height: 65vh;
  width: 100%;
  position: relative;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner__text,
.banner__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
}

.banner__overlay {
  background-color: black;
  opacity: 0.5;
}

.banner__text {
  display: flex;
  text-align: center;
  align-items: center;
}

.banner__text h1 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

.schedule__container,
.faq__container {
  padding: 5rem 0;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.schedule__row {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    height: 45rem;
    object-fit: cover;
  }
}

.schedule__col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.faq__item {
  width: 80%;

  h1 {
    color: #6d2e2e;
  }
  p,
  li {
    font-size: 1rem;
    font-weight: 300;
  }
  li {
    margin-bottom: 5px;
  }
}
